<html>
	<head>
		<title>Home</title>
	</head>
	<body ng-app="fileUpload">
		<div class="header">
            <h2>My First Predix Sample Application</h2>
            <h4>Predix Developer Kit</h4>
        </div>
        <h3>upload file</h3>
        <form  ng-controller="MyCtrl as up" name="up.upload_form">
            <input 
                type="file" 
                ngf-select 
                ng-model="up.file" 
                name="file" 
                />
            <i ng-show="!!up.file">{{up.file.value}}</i>
            <!-- Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/> -->

            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
           <!--  Multiple files
            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
            </br>
            </br>
            <button type="submit" ng-click="up.submit()">submit</button>
            <p>{{up.progress}}</p>
            
      </div>
</div>
        </form>
        <div class="footer">
            <div class="footer-logo-container">
            <img class="footer-logo" src="/images/monogram-wdmk.png"></img>
            </div>
        </div>
  </div>
	</body>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
    <style type="text/css" >
        @import"/css/index.css";
    </style>
</html>
